/* CSS declarations go here */

      
      .carousel-indicators  {
        top: 10px;
        bottom: inherit;
      }
      
      .carousel-indicators li
			{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 1px;
				text-indent: -999px;
				cursor: pointer;
				background-color: rgba(0,0,0,0);
				border: 1px solid rgb(91,192,222);
				border-radius: 50%;
			}
			.carousel-indicators .active
			{
				width: 12px;
				height: 12px;
				margin: 0;
				background-color: rgb(91,192,222);
      }



.carousel-control {
      width: 50px;
      height: 50px;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	paddingXX: 15px;
}

.carousel-control.right span {
	paddingXX: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 20px;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    leftXX: 0;
    rightYY: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    rightXX: 0;
    leftYY: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: rgb(91,192,222);
	displayXX: inline-block;	
	widthXX: 50px;
	heightXX: 25px;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .8;
        filter: alpha(opacity=80);
      }

#mainContainer {
    background-color: #eee;
}

#NumToNoteCarousel {
    min-height: 660px;
    padding-bottom: 15px;
}

.lead {
    font-size: 100%;
}

