<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Numbers Into Notes</title>
  <meta name="description" content="Javascript interactive demo for the Ada Lovelace Symposium, in which number 
sequences are converted into notes.  December 2015, this version released February 2016.">
  <meta name="keywords" content="ada, lovelace, babbage, analytical engine, fibonacci, integer sequences">
  <meta name="author" content="David De Roure">
  <meta charset="UTF-8">
  <!--
     <link rel="stylesheet" href="support/bootstrap.css" type="text/css">
     -->
  <!--
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
      -->
  <link rel="stylesheet" href="./support/NumbersIntoNotes.css" type="text/css">
  <link rel="shortcut icon" href="./support/favicon.ico">

</head>

