<template name="about">

<div class="container">
 <div class="page-header" id="about">


  <button id="start-over-button" 
	  class="btn btn-info" 
	  style="float: right; margin-right:30px;"
	  data-toggle="tooltip" data-placement="top" title="Close and return to Starting Page">
    Close <span class="glyphicon glyphicon-remove" 
		style="background-color: red;"
		aria-hidden="true"></span>
  </button>
   <h2>About</h2>
   
<!--
   <a href="#NumToNoteCarousel" role="button" data-slide-to="1">
     <button id="generate-button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Return to Starting Page">
       Generate <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
     </button>
   </a>
-->

<!--
   <a href="#NumToNoteCarousel" role="button" data-slide-to="0">
     <button id="start-over-button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Return to Starting Page">
       [X]
       Start Over <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
     </button>
   </a>
-->


 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-12">

<div class="alert alert-info" role="alert">
<p class="lead">
This tool was developed to generate Fibonacci numbers and reduce them with
clock arithmetic, generating a periodic sequence which is then
mapped to notes, and the music explored by selecting fragments to play
(Lagrange noted periodic functions in Fibonacci numbers in 1774, and
the period is known as the <em>Pisano period</em>).
Additional algorithms have been added to stimulate discussion of 
mathematical calculations on the Analytical Engine, contemplating what 
Ada Lovelace and Charles Babbage might have done if the engine had been
built. <em>Powers</em> is included as it is the example in the 
<em>Ada sketches</em> operatic work composed by Emily Howard. 
The other examples are:
</p><p></p>
<dl class="dl-horizontal lead">
<dt>Pi</dt><dd>Pi was calculated by hand to 100 decimal places in 1706 using
Machin's algorithm.  The same algorithm is used here—note that algorithms 
existed before computers. Pi is believed to be a 'normal number'
which means any possible musical sequence appears somewhere in its digits.</dd>
<dt>Golden Ratio</dt><dd>This is the number that the ratio of successive 
Fibonacci numbers converges to (1.618...) and it's calculated using a square 
root function. Although the square root algorithm we use is known today as 
Newton's method, it goes back to 1st century Greece or Babylonian times
(incidentally the Babylonians worked in sexagesimal i.e. base 60).</dd>
<dt>Prime numbers</dt><dd>Calculated here using the <em>Sieve of Eratosthenes</em>,
but how might this have been coded for the Analytical Engine?
The size of the sieve is estimated using a 1798 result by Legendre, and
in those days 1 was considered to be a prime.</dd>
<dt>Random</dt><dd>How could random numbers have been generated on
the Analytical Engine? Musical dice games (Musikalisches Würfelspiel) were
popular in the 1700s. Today we analyse and generate music using probabilities
of note and chord transitions, using a mathematical approach due to Markov born 
in 1856.</dd>
<dt>Factorials</dt><dd>We see triangle numbers created by adding, and
Factorials by multiplying, hence that the factorial sequence goes up much 
more rapidly. The notation
for factorial, e.g. 20!, was introduced in 1808. 20! can be stored in
a 64 bit integer before we run out of bits, but the analytical engine could 
go up to 41! with its support for 50 decimal digits.</dd>
<dt>Sine</dt><dd>The sin trig function is used here to generate an integer 
sequence approximating a sinusoidal wave.
The Analytical Engine could have been used for creating trignometric tables. 
This also illustrates another way of generating sounds, by generating a 
waveform (but how might that have been converted to sound?)
</dd><dt>Bernoulli</dt><dd>Ada Lovelace is famed for the algorithm to generate Bernoulli numbers.
Here we generate the numerator and denominator sequences separately.
Only short sequences are generated because it is quite computationally
intensive, using a rational arithmetic library. How long would the
algorithm have taken to run on the Analytical Engine?  </dd>
</dl>
</div>


<p><strong>
Please email <a href="mailto:numbersintonotes@gmail.com">Numbers into Notes</a> with 
any questions, bug reports, and suggestions for new features.
This application is currently only supported on Chrome and Firefox.
</strong></p>

<p>
Written by David De Roure, December 2015, for the <em>Ada Lovelace 
Symposium</em> and as an interactive demonstration to encourage discussion
about music, mathematics, and programming at the time of Ada Lovelace.
Thanks to Emily Howard and Lasse Rempe-Gillen for their inspiration
through <em>Ada sketches</em>, to Pip Willcox for jointly organising 
the <em>Numbers into Notes</em> project, and to all our colleagues for 
feedback and ideas.  This research is supported by the
<a href="http://www.transforming-musicology.org/">Transforming Musicology</a>
project funded by the Arts and Humanities Research Council, and the
<a href="http://www.semanticaudio.ac.uk/">FAST</a>
project funded by the Engineering and Physical Sciences Research Council.
</p>
<p>
<small>
When this application is run online, the logs maintained by the server include 
the IP address of the client, the referring web page, and the user agent (browser). 
This information is used for debugging and developing the software, and may be 
summarised in aggregate form to report usage in publicly available documents.
We do not use cookies.  When export format conversion functionality is enabled, 
exported Lilypond and MIDI files are stored on the server on a temporary basis
and are available to anyone with the appropriate URLs: they are stored for access, 
to assist with debugging and demonstrating the operation of the program, and 
in order to analyse and report on usage.
</small>
</p>
  </div>
 </div>
</div>

</template>
