<body onload="initPage()">
  <!--
      To call CGI scripts on a different host, edit the three action lines; e.g.
            action="http://demeter.oerc.ox.ac.uk/cgi-bin/lily"
            action="http://demeter.oerc.ox.ac.uk/cgi-bin/csvmidi"
	    action="http://demeter.oerc.ox.ac.uk/cgi-bin/prov"
            action="http://localhost/~dave/lily.cgi"
            action="http://localhost/~dave/csvmidi.cgi"
	    action="http://localhost/~dave/prov.cgi"
    -->



<div id="mainContainer" class="container">
  <div id="about-div">
    {{> about}}
  </div>

  <div id="NumToNoteCarousel" class="carousel slide"
       data-ride="carousel" data-interval="false" data-wrap="false"
       >
  <!-- Indicators -->
  <ol class="carousel-indicators">    
    <li data-target="#NumToNoteCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#NumToNoteCarousel" data-slide-to="1"></li>
    <li data-target="#NumToNoteCarousel" data-slide-to="2"></li>
    <li data-target="#NumToNoteCarousel" data-slide-to="3"></li>
    <li data-target="#NumToNoteCarousel" data-slide-to="4"></li>
    <li data-target="#NumToNoteCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      {{> intro}}
    </div>

    <div class="item">
      {{> generate}}
    </div>

    <div class="item">
      {{> reduce}}
    </div>

    <div class="item">
      {{> play}}
    </div>

    <div class="item">
      {{> export}}
    </div>

    <div class="item">
      {{> publish}}
    </div>
</div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#NumToNoteCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#NumToNoteCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{{> footer}}
</div>

</body>


