<template name="export">
  
<div class="container">
 <div class="page-header">
 <h2>4. Export</h2>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-12">

<p>
Here you can see the note sequence in various data formats, which you 
can copy and paste to export this data to other software tools—Lilypond
to display notes in music notation, MIDI CSV to generate Standard MIDI
files, or an image of the number roll.
If you are running this web page from a server that supports
conversions automatically then you will see <em>Generate PDF</em>
and <em>Generate MIDI</em> buttons, which open a new browser window.
Metadata specified here (e.g. a title) is included in the exported files, and
you can also generate a provenance graph which describes how your output
was generated.
</p>

  </div>
 </div>
</div>

<div class="container">
 <ul class="nav nav-pills">
    <li class="active"><a href="#notestab" data-toggle="tab" onclick="outputNoteNames()">Note Names</a></li>
    <li><a href="#lilytab" data-toggle="tab" onclick="outputLilypond()">Notation</a></li>
    <li><a href="#miditab" data-toggle="tab" onclick="outputMidiCsv()">MIDI</a></li>
    <li><a href="#imagetab" data-toggle="tab" onclick="outputImage()">Image</a></li>
    <li><a href="#metadatatab" data-toggle="tab">Metadata</a></li>
    <li><a href="#provtab" data-toggle="tab" onclick="outputProv()">Provenance</a></li>
 </ul>
 <p></p>
 <div class="tab-content">
  <div class="tab-pane" id="metadatatab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">Metadata</h3>
     </div>
     <div class="panel-body">
 
 <form>
  <div class="form-group">
   <label for="metaTitle">Title</label>
   <input class="form-control" id="metaTitle" placeholder="Title of this piece" type="text">
  </div>
  <div class="form-group">
   <label for="metaDescription">Description</label>
   <textarea class="form-control" rows="3" id="metaDescription" placeholder="Description of your piece"></textarea>
  </div>
  <div class="form-group">
   <label for="metaCreator">Creator</label>
   <input class="form-control" id="metaCreator" placeholder="Your name or something to identify you as the creator of this piece" type="text">
  </div>
  <div class="form-group">
   <label for="metaParameters">Parameters</label>
   <table class="table table-bordered" id="metaParameters"><tbody><tr>
    <td>Sequence</td>
    <td>Rows</td>
    <td>Columns</td>
    <td>Pitch</td>
    <td>Octave</td>
    <td>Intervals</td>
    <td>Selection</td>
    <td>BPM</td>
    </tr><tr>
    <td><span id="metaSequence"></span></td>
    <td><span id="metaRows"></span></td>
    <td><span id="metaColumns"></span></td>
    <td><span id="metaPitch"></span></td>
    <td><span id="metaOctave"></span></td>
    <td><span id="metaScale"></span></td>
    <td><span id="metaSelection"></span></td>
    <td><span id="metaTempo"></span></td>
    </tr>
   </tbody></table>
  </div>
  <div class="form-group">
   <label for="metaDate">Date</label>
   <input class="form-control" id="metaDate" placeholder="Automatically generated date" type="text">
  </div>
  <div class="form-group">
   <label for="metaIdentifier">Identifier</label>
   <input class="form-control" id="metaIdentifier" placeholder="Automatically generated identifier" type="text">
  </div>
 </form>
 
     </div>
    </div>
   </div>
  </div>

  <div class="tab-pane" id="lilytab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">Lilypond music score notation</h3>
     </div>
     <div class="panel-body">
      <form role="form" id="lilyform" method="POST" action="http://demeter.oerc.ox.ac.uk/cgi-bin/lily" target="_blank">
       <div class="form-group">
        <textarea id="lilytext" name="lilytext" rows="6" cols="120" placeholder="Text for copying " readonly="readonly"></textarea>
       </div>
       <button class="btn btn-info" type="submit" id="lilysubmit" value="Submit" display="none">Generate PDF</button>
      </form>
     </div>
    </div>
   </div>
  </div>
  <div class="tab-pane" id="miditab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">MIDI piano roll (CSV)</h3>
     </div>
     <div class="panel-body">
      <form role="form" id="midiform" method="POST" action="http://demeter.oerc.ox.ac.uk/cgi-bin/csvmidi" target="_blank">
       <div class="form-group">
        <textarea id="miditext" name="miditext" rows="6" cols="120" placeholder="Text for copying " readonly="readonly"></textarea>
       </div>
       <button class="btn btn-info" type="submit" id="midisubmit" value="Submit" display="none">Generate MIDI</button>
      </form>
     </div>
    </div>
   </div>
  </div>
  <div class="tab-pane active" id="notestab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">Notes</h3>
     </div>
     <div class="panel-body">
      <textarea id="notestext" rows="6" cols="120" placeholder="Text for copying " readonly="readonly"></textarea>
     </div>
    </div>
   </div>
  </div>
  <div class="tab-pane" id="imagetab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">Image of Number Roll</h3>
     </div>
     <div class="panel-body">
      <div id="rollimage"></div>
     </div>
    </div>
   </div>
  </div>
  <div class="tab-pane" id="provtab">
   <div>
    <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">Provenance (prov-n)</h3>
     </div>
     <div class="panel-body">
      <form role="form" id="provform" method="POST" action="http://demeter.oerc.ox.ac.uk/cgi-bin/prov" target="_blank">
       <div class="form-group">
        <textarea id="provtext" name="provtext" rows="6" cols="120" placeholder="Text for copying " readonly="readonly"></textarea>
       </div>
       <button class="btn btn-info" type="submit" id="provsubmit" value="Submit" display="none">Generate Graph</button>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>

</template>
