<template name="footer">
  
<div class="container">
 <div class="row">
  <div class="col-md-9">
<a href="http://www.transforming-musicology.org/"><img src="support/transforming_musicology.png" width="100%"></a>

  </div>
  <div class="col-md-3">

<a href="http://www.semanticaudio.ac.uk/"><img src="support/FAST-500px.png" width="100%"></a>

  </div>
 </div>
</div>


<script src="./support/carousel-swipe.js" type="text/javascript"></script>

<script src="./support/big.js" type="text/javascript"></script>
<script src="./support/Ratio-0.js" type="text/javascript"></script>
<script src="./support/ada-bernoulli.js" type="text/javascript"></script>
<script src="./support/soundfont-player.js" type="text/javascript"></script>
<script src="./support/NumbersIntoNotes.js" type="text/javascript"></script>

</template>
