<template name="generate">  

<div class="container">
 <div class="page-header">

 <h2>1. Generate</h2>
<p>
The first stage in this interactive demonstration is to <b>generate</b>
a sequence of numbers using an algorithm that might have been run on
the Analytical Engine.
In stage 2 you <b>reduce</b> these numbers to a smaller range
of numbers, using 'clock arithmetic'. Then
in stage 3, you can visualize and <b>play</b> the number sequence 
interactively, and explore the mapping of the numbers to musical notes. 
If this is your first visit, try the green buttons.
NB This program has been developed and tested in Chrome and Firefox
browsers.</p>

 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-6">

   <div class="panel panel-primary">
    <div class="panel-heading">Fibonacci</div>
    <div class="panel-body">

<p>Each number is the sum of the previous two. If we start with 0, 1 we 
get the sequence commonly known as the 
<a href="https://en.wikipedia.org/wiki/Fibonacci_number" target="_blank">
Fibonacci numbers</a>
0, 1, 1, 2, 3, 5, 8, 13, ... (could also start 1, 1). If we start with 2, 1 
we get the 
<a href="https://en.wikipedia.org/wiki/Lucas_number" target="_blank">
Lucas numbers</a>
2, 1, 3, 4, 7, 11, 18, ... (could also start 1, 3).  
The sequences are described mathematically by the relation 
F<sub>k,n+1</sub> = kF<sub>k,n</sub> + F<sub>k,n-1</sub> where k = 1. 
</p>

<p>
<button class="btn btn-success" onclick="doFibonacci()" data-toggle="tooltip" data-placement="top" title="Generate sequence of Fibonacci numbers">Fibonacci</button>
   <em>n0:</em> <input id="n0" value="0" min="0" max="999" type="number">
   <em>n1:</em> <input id="n1" value="1" min="0" max="999" type="number">
   <em>k:</em>  <input id="k" value="1" min="1" max="99" type="number"></p>

    </div>
   </div>
  </div>
  <div class="col-md-3">

   <div class="panel panel-primary">
    <div class="panel-heading">Powers</div>
    <div class="panel-body">

<p>The sequence of powers of 2 is 2<sup>0</sup>, 2<sup>1</sup>,
2<sup>2</sup>, 2<sup>3</sup>, ... i.e. 1, 2, 4, 8, 16, 32 etc.  Here
you can generate the sequence of powers of 2 or any other number,
known as the <em>base</em>.</p>

<p>
<button class="btn btn-success" onclick="doPowers()" data-toggle="tooltip" data-placement="top" title="Generate sequence of powers">Powers</button>
<em>&nbsp;&nbsp;base:</em> <input id="base" value="2" min="2" max="99" type="number">
</p>
    </div>
   </div>
  </div>

  <div class="col-md-3">

   <div class="panel panel-primary">
    <div class="panel-heading">Other Algorithms</div>
    <div class="panel-body">

<p>How might Ada Lovelace have calculated these?</p>
<button class="btn btn-default" onclick="doPrimes()" data-toggle="tooltip" data-placement="top" title="Generate sequence of prime numbers">Primes</button>
<button class="btn btn-default" onclick="doPi(100)" data-toggle="tooltip" data-placement="top" title="Generate sequence of digits of pi">Pi</button> 
<button class="btn btn-default" onclick="doPhi(320)" data-toggle="tooltip" data-placement="top" title="Generate sequence of digits of the golden ratio">Golden Ratio</button> 

<!-- A000796 
<button class="btn btn-default" onclick="setSeq([3,1,4,1,5,9,2,6,5,3,5,8,9,7,9,3,2,3,8,4,6,2,6,4,3,3,8,3,2,7,9,5,0,2,8,8,4,1,9,7,1,6,9,3,9,9,3,7,5,1,0,5,8,2,0,9,7,4,9,4,4,5,9,2,3,0,7,8,1,6,4,0,6,2,8,6,2,0,8,9,9,8,6,2,8,0,3,4,8,2,5,3,4,2,1,1,7,0,6,7,9,8,2,1,4])">Pi</button> 
-->
<!-- A001622
<button class="btn btn-default" onclick="setSeq([1,6,1,8,0,3,3,9,8,8,7,4,9,8,9,4,8,4,8,2,0,4,5,8,6,8,3,4,3,6,5,6,3,8,1,1,7,7,2,0,3,0,9,1,7,9,8,0,5,7,6,2,8,6,2,1,3,5,4,4,8,6,2,2,7,0,5,2,6,0,4,6,2,8,1,8,9,0,2,4,4,9,7,0,7,2,0,7,2,0,4,1,8,9,3,9,1,1,3,7,4,8,4,7,5])">Phi</button> 
-->

<p></p>
<button class="btn btn-default" onclick="doRandom()" data-toggle="tooltip" data-placement="top" title="Generate sequence of random numbers less than the given number">Random</button>
<button class="btn btn-default" onclick="doDiceWalk()" data-toggle="tooltip" data-placement="top" title="Walk random intervals by rolling two dice">Dice</button>
<input id="random" value="42" min="2" max="999" type="number">

    </div>
   </div>
  </div>
 </div>
</div>

<div id="algorithms" class="collapse">
<div class="container">
 <div class="row">
  <div class="col-md-3">

   <div class="panel panel-primary">
<!--
    <div class="panel-heading">Arithmetic progression</div>
    <div class="panel-body">

<p>The sequence starting at <em>a</em> and adding <em>d</em> each 
time, so 0 and 1 gives 0,1,2,3,4, ... Useful to illustrate
mappings of numbers to notes.</p>

<p>
<button class="btn btn-default" onclick="doArithmetic()">Arithmetic Progression</button>
</p><p>
<em>a:</em> <input type="number" id="a" value="0" min="0" max="999">
<em>d:</em> <input type="number" id="d" value="1" min="0" max="999">
</p><p>

    </div>
-->
    <div class="panel-heading">Tribonacci</div>
    <div class="panel-body">

<p>Like Fibonacci, but each number is the sum of the previous three.
Another of many 
<a href="https://en.wikipedia.org/wiki/Generalizations_of_Fibonacci_numbers" target="_blank">variations on Fibonacci</a>.
</p>

<p>
<button class="btn btn-default" onclick="doTribonacci()" data-toggle="tooltip" data-placement="top" title="Generate sequence of Tribonacci numbers">Tribonacci</button>
</p><p>
<em>n0:</em> <input id="t0" value="0" min="0" max="999" type="number">
<em>n1:</em> <input id="t1" value="0" min="0" max="999" type="number">
<em>n2:</em> <input id="t2" value="1" min="0" max="999" type="number">
</p><p>

    </p></div>
   </div>
  </div>
  <div class="col-md-3">

   <div class="panel panel-primary">
    <div class="panel-heading">Triangular and Factorials</div>
    <div class="panel-body">

<p>Triangular numbers are the sequence of sums 1, 1 + 2, 1 + 2 + 3, 1 + 2 + 3 + 4, ....</p>

<p>Factorial numbers are the sequence of products 1, 1 x 2, 1 x 2 x 3, 1 x 2 x 3 x 4, ...</p>

<p></p>
<button class="btn btn-default" onclick="doTriangle()" data-toggle="tooltip" data-placement="top" title="Generate sequence of Triangular numbers">Triangular</button>
<button class="btn btn-default" onclick="doFactorial()" data-toggle="tooltip" data-placement="top" title="Generate sequence of factorial numbers">Factorial</button>

    </div>
   </div>
  </div>
  <div class="col-md-3">

   <div class="panel panel-primary">
    <div class="panel-heading">Sinusoidal</div>
    <div class="panel-body">

<p>This is an approximation to a sine wave, the sequence described by the 
equation <em>a + a.sin(rθ)</em>

</p><p>
<button class="btn btn-default" onclick="doSin()" data-toggle="tooltip" data-placement="top" title="Generate sine wave">Sine</button>
<em>a:</em> <input id="amplitude" value="12" min="1" max="63" type="number">
<em>r:</em> <input id="r" value="5" min="1" max="999" type="number"></p>

    </div>
   </div>
  </div>
  <div class="col-md-3">

   <div class="panel panel-primary">
    <div class="panel-heading">Bernoulli</div>
    <div class="panel-body">

<p>Bernouill numbers are generated here using the algorithm described
by Ada Lovelace. The numbers are a sequence of fractions, so we provide
a sequence of numerators or a sequence of denominators.</p>

<p>
<button class="btn btn-default" onclick="doBernoullinumerators()" data-toggle="tooltip" data-placement="top" title="Generate Bernouilli numerators">Numerators</button> 
<button class="btn btn-default" onclick="doBernoullidenominators()" data-toggle="tooltip" data-placement="top" title="Generate Bernoulli denominators">Denominators</button> 
</p>

    </div>
   </div>
  </div>
 </div>
</div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-10">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">The Sequence</h3>
    </div>
    <div class="panel-body" id="sequence"></div>
   </div>
  </div>
  <div class="col-md-2">
   <button class="btn btn-info" data-toggle="collapse" data-target="#algorithms" data-placement="top" title="Show or hide more algorithms">More algorithms</button>
   <p></p>
   <button class="btn btn-info" onclick="displaySequence(0,0)" data-toggle="tooltip" data-placement="top" title="Show the sequence as far as possible">More numbers</button>
   <p></p>
   <button class="btn btn-default" onclick="doOEIS()" data-toggle="tooltip" data-placement="top" title="Search the Online Encyclopedia of Integer Sequence using the first 10 numbers">Search OEIS</button>
   <p></p>
   <p id="colourexplanation"></p>
  </div>
 </div>
</div>

</template>
