<template name="intro">

<div class="container">
 <div class="page-header" id="jumbo">

   <table align="right">
     <tbody>
       <tr>
	 <td>
	     <button id="about-button" 
		     class="btn btn-info" style="margin-left: 20px;"
		     data-toggle="tooltip" data-placement="top" title="Jump to About section">
	       About
	     </button>

	 </td>
      <td>
	<a href="http://www.ox.ac.uk/" target="_blank"><img src="support/Oxford100.gif" style="padding: 5px;"></a>
      </td>
	 <td>
	   <a href="http://www.oerc.ox.ac.uk/" target="_blank"><img src="support/OeRC100.png">
	   </a>
	 </td>
       </tr>
     </tbody>
   </table>

<h2>Numbers Into Notes</h2>


<p class="lead">
“Supposing, for instance, that the fundamental relations of pitched 
sounds in the science of harmony and of musical composition were susceptible
of such expression and adaptations, the engine might compose elaborate
and scientific pieces of music of any degree of complexity or extent.”
&nbsp;&nbsp;<small>Ada Lovelace, 1843</small>
</p>

<p class="lead">
  Use the arrow buttons at the top of the screen
  to work through the stages of <b>generate</b>,
  <b>reduce</b>, and then <b>display</b> your new composition.
<!--
  <a href="#NumToNoteCarousel" role="button" data-slide-to="1">
    <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Get Started">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
</a>
-->
</p>


 </div>

 {{> compositions}}

</div>

</template>

<template name="compositions">
<!--
  {{#if store.length}}
    <ul>
-->
{{#if hasContent}}
  Or choose a previous composition:

      {{#each store}}
        {{> composition}}
      {{/each}}
{{/if}}

<!--
    </ul>
 {{/if}}
-->

</template>

<template name="composition">
  <div style="padding: 5px;">
    <button class="btn btn-info delete" 
	    data-toggle="tooltip" data-placement="top" 
	    title="Load composition">
      <span class="glyphicon glyphicon-remove" 
	    style="background-color: red;"
	    aria-hidden="true"></span>
    </button>
    <button class="btn btn-info load" 
	    data-toggle="tooltip" data-placement="top" 
	    title="Load composition">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> {{title}}
    </button>



</div>

</template>
