<template name="play">
    
<div class="container">
 <div class="page-header">
 <h2>3. Play</h2>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-12">

<p>Press <em>Display</em> to show a 'number roll' visualization of the 
sequence, with time from left to right and numbers going up.
The mapping of numbers to notes can be modified as you wish using the 
buttons below the number roll.
Press the <em>Play</em> button to play the sequence as eighth notes (quavers), 
or the <em>4</em> or <em>2</em> buttons to play quarter or half notes, with
<a onclick="startAudio('acoustic_grand_piano')">piano</a> or
<a onclick="startAudio('xylophone')">xylophone</a> sounds.
The mouse selects a subset of notes to be played, and holding the shift key 
down modifies the current selection.
<em>Sust</em> causes notes to be sustained so that you can hear them alongside 
each other.  You can also change the tempo (beats per minute). 
The <em>Life</em> button produces the next generation of the number 
roll according to the rules of the 
<a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">
Game of Life</a> (devised 1970), and the 
<em>Cat</em> button transforms a square iteratively (inspired by 
<a href="https://en.wikipedia.org/wiki/Arnold%27s_cat_map" target="_blank">
Arnold's Cat</a>, 1960s) so that it returns to normal after a 
<a href="https://en.wikipedia.org/wiki/Pisano_period" target="_blank">Pisano period</a>.
Pressing <em>Display</em> resets the display at any time.
</p>

  </div>
 </div>
 <div class="row">
  <div class="col-md-3">
   <div class="btn-group" role="group">

<button class="btn btn-success" onclick="initRoll()" data-toggle="tooltip" data-placement="top" title="Display piano roll" id="displaybutton" disabled="disabled">Display</button>
<button class="btn btn-default" onclick="rollWidth(-1)" data-toggle="tooltip" data-placement="top" title="Make roll narrower">w-</button>
<button class="btn btn-default" onclick="rollWidth(1)" data-toggle="tooltip" data-placement="top" title="Make roll wider">w+</button>
<button class="btn btn-default" onclick="rollHeight(-1)" data-toggle="tooltip" data-placement="top" title="Make roll shorter">h-</button>
<button class="btn btn-default" onclick="rollHeight(1)" data-toggle="tooltip" data-placement="top" title="Make roll taller">h+</button>

   </div>
  </div>
  <div class="col-md-3">
   <div class="btn-group" role="group">

<button class="btn btn-success play" onclick="playRoll(8)" data-toggle="tooltip" data-placement="top" title="Play eighth notes" disabled="disabled"><span class="glyphicon glyphicon-play"></span></button>
<button class="btn btn-default play" onclick="playRoll(4)" data-toggle="tooltip" data-placement="top" title="Play quarter notes" disabled="disabled">4</button>
<button class="btn btn-default play" onclick="playRoll(2)" data-toggle="tooltip" data-placement="top" title="Play half notes" disabled="disabled">2</button>
<button class="btn btn-success play" onclick="playStop()" data-toggle="tooltip" data-placement="top" title="Stop playback" disabled="disabled"><span class="glyphicon glyphicon-stop"></span></button>
<button class="btn btn-default" onclick="extendNotes(1)" data-toggle="tooltip" data-placement="top" title="Set separate notes">Stacc</button>
<button class="btn btn-default" onclick="extendNotes(2)" data-toggle="tooltip" data-placement="top" title="Set sustained notes">Sust</button>

   </div>
  </div>
  <div class="col-md-2">
   <div class="btn-group" role="group">

<button class="btn btn-default" onclick="copySelection()" data-toggle="tooltip" data-placement="top" title="Copy selection"><span class="glyphicon glyphicon-copy"></span></button>
<button class="btn btn-default" onclick="pasteSelection()" data-toggle="tooltip" data-placement="top" title="Paste selection at index chosen by arrow keys"><span class="glyphicon glyphicon-paste"></span></button>
<button class="btn btn-default" onclick="nudgeSelection(-1)" data-toggle="tooltip" data-placement="top" title="Nudge paste location left"><span class="glyphicon glyphicon-arrow-left"></span></button>
<button class="btn btn-default" onclick="nudgeSelection(1)" data-toggle="tooltip" data-placement="top" title="Nudge paste location right"><span class="glyphicon glyphicon-arrow-right"></span></button>

   </div>
  </div>
  <div class="col-md-1">
   <div class="input-group">
    <input class="form-control" id="bpm" value="60" type="text">
   </div>
  </div>
  <div class="col-md-3">
   <div class="btn-group" role="group">
    <button class="btn btn-default" onclick="doLife()" data-toggle="tooltip" data-placement="top" title="Next generation of Life">Life</button>
    <button class="btn btn-default" onclick="doCat()" data-toggle="tooltip" data-placement="top" title="Iteration of Arnold Cat using Fibonacci">Cat</button>
   </div>
   <small>&nbsp;&nbsp;<span id="pisano" style="color:blue;"></span>
  </small></div>
 </div>
</div>

<p></p>
<div class="container">
 <div class="row">
  <div class="col-md-12">

<canvas id="pianoroll" width="512" height="80"></canvas>

  </div>
 </div>
 <div class="row">
  <div class="col-md-2">
   <div class="btn-group" role="group">

<span id="notenumber" class="label label-default"></span>
<span id="notename" class="label label-default"></span>
<span id="noteindex" class="label label-default"></span>
<span id="selected" class="label label-danger"></span>

   </div>
  </div>
  <div class="col-md-2">
   <p class="text-info"><small>&nbsp;<span id="contour"></span></small></p>
  </div>
 </div>
</div>
<textarea id="selection" value="" cols="100" rows="1" style="display:none;"></textarea>

<div class="container">
 <div class="row">
  <div class="col-md-12">

<p>Choose which pitch and octave the number 0 corresponds to (e.g. C1), then 
click on a scale or generate one from intervals (e.g. 2 2 1 2 2 2 1, or WWHWWWH, or TTSTTTS).
Pressing any buttons will regenerate the mapping table, which comes into effect next time you play.</p>

  </div>
 </div>
 <div class="row">
  <div class="col-md-6">
   <div class="btn-group" role="group">

<button class="btn btn-default" onclick="setPitch(0)">C</button>
<button class="btn btn-default" onclick="setPitch(1)">C#</button>
<button class="btn btn-default" onclick="setPitch(2)">D</button>
<button class="btn btn-default" onclick="setPitch(3)">Eb</button>
<button class="btn btn-default" onclick="setPitch(4)">E</button>
<button class="btn btn-default" onclick="setPitch(5)">F</button>
<button class="btn btn-default" onclick="setPitch(6)">F#</button>
<button class="btn btn-default" onclick="setPitch(7)">G</button>
<button class="btn btn-default" onclick="setPitch(8)">Ab</button>
<button class="btn btn-default" onclick="setPitch(9)">A</button>
<button class="btn btn-default" onclick="setPitch(10)">Bb</button>
<button class="btn btn-default" onclick="setPitch(11)">B</button>

   </div>
   <div class="btn-group" role="group">

<button class="btn btn-default" onclick="setOctave(0)">0</button>
<button class="btn btn-default" onclick="setOctave(1)">1</button>
<button class="btn btn-default" onclick="setOctave(2)">2</button>
<button class="btn btn-default" onclick="setOctave(3)">3</button>
<button class="btn btn-default" onclick="setOctave(4)">4</button>
<button class="btn btn-default" onclick="setOctave(5)">5</button>
<button class="btn btn-default" onclick="setOctave(6)">6</button>
<button class="btn btn-default" onclick="setOctave(7)">7</button>

   </div>
   <div class="btn-group" role="group">

<!-- Common Scales -->
<button class="btn btn-default" onclick="setScale([2,2,1,2,2,2,1])">Major</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,1,2,2])">Natural minor</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,1,3,1])">Harmonic minor</button>
<button class="btn btn-default" onclick="setScale([2,2,1,2,1,3,1])">Harmonic major</button>

   </div>
   <div class="btn-group" role="group">

<button class="btn btn-default" onclick="setScale([2,2,3,2,3])">Pentatonic</button>
<button class="btn btn-default" onclick="setScale([2])">Whole Tone</button>
<button class="btn btn-default" onclick="setScale([1])">Chromatic</button>

   </div>
  </div>
  <div class="col-md-1">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Pitch</h3>
    </div>
    <div class="panel-body" id="pitch">C</div>
   </div>
  </div>
  <div class="col-md-1">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Oct</h3>
    </div>
    <div class="panel-body" id="octave">1</div>
   </div>
  </div>
  <div class="col-md-4">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">Generate Scale from Intervals</h3>
    </div>
    <div class="panel-body" id="generator">
    <input id="scale" value="2 2 1 2 2 2 1" type="text">
    <button class="btn btn-default" onclick="reGenerate()" data-toggle="tooltip" data-placement="top" title="Regenerate mapping of numbers to notes using intervals">Regenerate</button>
    </div>
   </div>
  </div>
 </div>

<p></p>

 <div class="row">
  <div class="col-md-12">
  <table class="table table-bordered" id="map"><tbody><tr></tr><tr></tr></tbody></table>
  </div>
 </div>
 
 <div class="row">
  <div class="col-md-12">
   <button class="btn btn-info" data-toggle="collapse" data-target="#scales" data-placement="top" title="Show more buttons with predefined scale intervals">More scales</button>
  </div>
 </div>
</div>

<div class="container">
 <div id="scales" class="collapse">
  <div class="row">
   <div class="col-md-12">
<p></p>
<p>
<button class="btn btn-default" onclick="setScale([1])">Chromatic</button>
<button class="btn btn-default" onclick="setScale([2])">2</button>
<button class="btn btn-default" onclick="setScale([3])">3</button>
<button class="btn btn-default" onclick="setScale([2,1])">2-1</button>
<button class="btn btn-default" onclick="setScale([1,2])">1-2</button>
<button class="btn btn-default" onclick="setScale([4])">4</button>
<button class="btn btn-default" onclick="setScale([3,1])">3-1</button>
<button class="btn btn-default" onclick="setScale([1,3])">1-3</button>
<button class="btn btn-default" onclick="setScale([5])">5</button>
<button class="btn btn-default" onclick="setScale([1,4])">1-4</button>
<button class="btn btn-default" onclick="setScale([4,1])">4-1</button>
<button class="btn btn-default" onclick="setScale([2,3])">2-3</button>
<button class="btn btn-default" onclick="setScale([3,2])">3-2</button>
<button class="btn btn-default" onclick="setScale([6])">6</button>
<button class="btn btn-default" onclick="setScale([1,5])">1-5</button>
<button class="btn btn-default" onclick="setScale([5,1])">5-1</button>
<button class="btn btn-default" onclick="setScale([2,4])">2-4</button>
<button class="btn btn-default" onclick="setScale([4,2])">4-2</button>
<button class="btn btn-default" onclick="setScale([5,7])">5-7</button>
<button class="btn btn-default" onclick="setScale([7,5])">7-5</button>
</p>
<p>
<button class="btn btn-default" onclick="setScale([2,2,1,2,2,2,1])">Major</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,1,2,2])">Natural minor</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,1,3,1])">Harmonic minor</button>
<button class="btn btn-default" onclick="setScale([2,2,1,2,1,3,1])">Harmonic major</button>
<button class="btn btn-default" onclick="setScale([2,2,1,2,2,2,1])">Ionian</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,2,1,2])">Dorian</button>
<button class="btn btn-default" onclick="setScale([1,2,2,2,1,2,2])">Phrygian</button>
<button class="btn btn-default" onclick="setScale([2,2,2,1,2,2,1])">Lydian</button>
<button class="btn btn-default" onclick="setScale([2,2,1,2,2,1,2])">Mixolydian</button>
<button class="btn btn-default" onclick="setScale([2,1,2,2,1,2,2])">Aeolian</button>
<button class="btn btn-default" onclick="setScale([1,2,2,1,2,2,2])">Locrian</button>
</p>
<p>
<button class="btn btn-default" onclick="setScale([2,1,2,2,2,2,1])">Melodic ascending minor</button>
<button class="btn btn-default" onclick="setScale([1,2,2,2,2,1,2])">Phrygian raised sixth</button>
<button class="btn btn-default" onclick="setScale([2,2,2,2,1,2,1])">Lydian raised fifth</button>
<button class="btn btn-default" onclick="setScale([2,2,2,1,2,1,2])">Acoustic</button>
<button class="btn btn-default" onclick="setScale([2,2,1,2,1,2,2])">Major minor</button>
<button class="btn btn-default" onclick="setScale([2,1,2,1,2,2,2])">Half diminished scale</button>
<button class="btn btn-default" onclick="setScale([1,2,1,2,2,2,2])">Altered scale</button>
</p>
<p>
<button class="btn btn-default" onclick="setScale([2,2,2,2,2,2])">Whole Tone</button>
<button class="btn btn-default" onclick="setScale([3,1,3,1,3,1])">Augmented</button>
<button class="btn btn-default" onclick="setScale([2,2,2,3,1,2])">Prometheus</button>
<button class="btn btn-default" onclick="setScale([3,2,1,1,3,2])">Blues</button>
<button class="btn btn-default" onclick="setScale([1,3,2,1,3,2])">Tritone</button>
<button class="btn btn-default" onclick="setScale([2,2,3,2,3])">Major Pentatonic</button>
<button class="btn btn-default" onclick="setScale([2,3,2,3,2])">Egyptian</button>
<button class="btn btn-default" onclick="setScale([3,2,3,2,2])">Blues minor</button>
<button class="btn btn-default" onclick="setScale([2,3,2,2,3])">Blues major</button>
<button class="btn btn-default" onclick="setScale([3,2,2,3,2])">Minor Pentatonic</button>
</p>

   </div>
  </div>
 </div>
</div>

</template>
