<template name="publish">  

<div class="container">
 <div class="page-header">

 <h2>5. Publish</h2>
<p>
Now name your composition!
</p>

 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-6">

    <form class="new-composition">
      Title: <input type="text" name="text" 
		    style="width: 300px;"
		    placeholder="Enter title" />
      <button id="publish-button" 
	    class="btn btn-info"
	    data-toggle="tooltip" data-placement="top" title="Publish your work">
	Publish
      </button>
    </form>
  </div>
 </div>
</div>

</template>
