<template name="reduce">
  
<div class="container">
 <div class="page-header">
  <h2>2. Reduce</h2>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-6">

   <div class="panel panel-primary">
    <div class="panel-heading">Modulo</div>
    <div class="panel-body">

<p>We reduce each of the numbers in the sequence using 
<a href="https://en.wikipedia.org/wiki/Modular_arithmetic" target="_blank">
modular arithmetic</a>
(clock arithmetic).  We divide each number by <em>mod</em> and keep the 
remainder, so all the numbers will be between 0 and <em>mod - 1</em>.
</p>

<p>
<button class="btn btn-success" onclick="doModsequence()" data-toggle="tooltip" data-placement="top" title="Reduce the numbers to the given modulus" id="reducebutton" disabled="disabled">Reduce</button>
<em>mod:</em> <input id="modulus" value="35" min="2" max="128" type="number">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="primefactors" style="color:blue;"></span></p>

    </div>
   </div>
  </div>

  <div class="col-md-4">

   <div class="panel panel-primary">
    <div class="panel-heading">Logarithms</div>
    <div class="panel-body">

<p>Logarithms are included here to help visualize the growth of the sequences.
Log<sub>10</sub> of 10 is 1, 100 is 2, 1000 is 3, etc
(logs of zero or negative numbers will appear as 0).</p>

<button class="btn btn-default" onclick="doLogsequence()" data-toggle="tooltip" data-placement="top" title="Take logs base 10">Generate logs</button>

    </div>
   </div>
  </div>
 </div>

 <div class="row">
   <br>
 </div>

 <div class="row">
  <div class="col-md-10">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">The Numbers</h3>
    </div>
    <div class="panel-body">
    <textarea id="modsequence" rows="4" cols="120" placeholder="Number sequence"></textarea>
    <br>
    <button class="btn btn-default" onclick="updateModseq()" data-toggle="tooltip" data-placement="top" title="Register changes after manually editing sequence">Update</button>
    </div>
   </div>
  </div>
  <div class="col-md-2">
   <div class="panel panel-info">
    <div class="panel-heading">
     <h3 class="panel-title">About</h3>
    </div>
    <div class="panel-body">
    <table class="table-condensed">
    <tbody><tr><td><strong>length</strong></td><td><span id="length"></span></td></tr>
    <tr><td><strong>mod</strong></td><td><span id="mod"></span></td></tr>
    <tr><td><strong>period</strong></td><td><span id="period"></span></td></tr>
    </tbody></table>
    <p></p>
    <button class="btn btn-default" onclick="displayCorrelation(0)" data-toggle="tooltip" data-placement="top" title="Show autocorrelation table">AC</button>
    <button class="btn btn-default" onclick="displayCorrelation(1)" data-toggle="tooltip" data-placement="top" title="Correlation in diatonic scale">7</button>
    <button class="btn btn-default" onclick="displayCorrelation(2)" data-toggle="tooltip" data-placement="top" title="Correlation in chromatic scale">12</button>
    </div>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="col-md-10">
   <span id="correlationtable"></span>
  </div>
 </div>
</div>

</template>
